body {
    margin: 0;
}

.container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: Courier New, Courier, monospace;
    border-bottom: 2px solid #0e7490;
    padding-bottom: 10px;
    line-height: 125%;
    font-size: 20pt;
    color: #1e293b;
}
